<div class="wrapper">
</div>
  <div class="chat">
    <%= render "main" %>
  </div>
</div>

<%= link_to(root_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>投稿</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>